body{
    background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.tarjetas{
    margin-top: 30px;
    text-align:center;
    font-family: 'Concert One', cursive;
    font-size: 30px;
    margin-left:  20px;
    font-weight: 500;
    border: 5px solid black;
    width: 700px;
    height: 400px;
    display: flex;
    border-radius: 5%;
    float:left;
    
    
}
.tarjetas:hover{
    background-color: #FCFFA6;
}
span{
    font-size: 50px;
    margin-left: 100px;
    float: right;
}
#imagenes{
    border: 5px solid #FCFFA6;
    width: 250px;
    height: 390px;
    border-radius: 10px;
    margin-left: 20px;
    border-style:double;

    
}
#imagenes:hover {
    background-color: white;

 
    
}
.element{
    width: 80%;
    height: 50px;
    
}
@keyframes mover {
    0%{
        transform: translate(100%);
    }
    
}