body{
    background-color: aqua;
    
}

.tarjetas{
    margin-top: 30px;
    font-family: 'Shizuru', cursive;
    font-size: 30px;
    margin-left:  20px;
    font-weight: 900;
    border: 5px solid black;
    width: 600px;
    height: 450px;
    display: flex;
    display: inline-block;
    float:left;
    text-align: center;
  
    
   
    
}
span{
    font-size: 50px;
    margin-left: 100px;
    float: right;
}
#imagenes{
    border: 2px solid purple;
    width: 250px;
    border-radius: 20px;
    box-shadow: 15px 5px 15px grey;
    margin-left: 5px;


    
}
#imagenes:hover {
    background-color: blueviolet;
    border: 4px solid;
}
.element{
    width: 80%;
    height: 50px;
    
}
@keyframes mover {
    0%{
        transform: translate(100%);
    }
    
}